site_name: Hyper-V Automation Scripts
site_description: PowerShell scripts for automating Hyper-V VM creation and management
site_author: Joel Van Eenwyk
repo_url: https://github.com/joelvaneenwyk/hyper-v-automation
repo_name: joelvaneenwyk/hyper-v-automation

theme:
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy

markdown_extensions:
  - admonition
  - codehilite
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Reference:
    - reference/

plugins:
  - search
  - awesome-pages

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/joelvaneenwyk/hyper-v-automation
